/* Color Palette Inspiration
* link: https://coolors.co/f6bd60-f7ede2-f5cac3-84a59d-f28482

      <img src="images/bunny.jpg" width=33%></img>
      <img src="images/dc.jpg" width=33%></img>
      <img src="images/sagrada.jpg" width=33%></img>
      <img src="images/ub.jpg" width=33%></img>
      <img src="images/msg.jpg" width=33%></img>
      <img src="images/cal.jpg" width=33%></img>
*/

:root{
  --main-font: "Rubik", sans-serif;
  --color-navbar: #84A59D; /*nav bar*/
  --color-title: #F28482;
  --body-A: #F7EDE2;
  --body-B: #F5CAC3;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');


#greeting-container {
  margin-top: 20px;
}

nav li {
    display:inline;
}

nav ul{
    padding:0;
}

#navbar{
    width:100%;
    position:fixed;
    background-color: var(--color-navbar);
}

.nav-items {
    display:flex;
    padding-left: 20%;
    margin-right: 20%;
}

body{
    margin: 0 0 0 0;
}

h1, h2, h3, p {
    padding-top: 15px;
    margin: 0 0 0 0;
    font-family: Verdana, Geneva, sans-serif;
}

#title,
#about-content,
#contact-content,
#random-content,
#gallery-content,
#project-content {
    padding-top: 55px;
    padding-bottom: 75px;
    padding-left:20%;
    padding-right:20%;
    margin: 0 0 0 0;
}

#title {
  padding-top: 55px !important;
  padding-bottom: 30px !important;
  background-color: var(--color-title);
}

#about-content {
    background-color: var(--body-A);
    font-family: Verdana, Geneva, sans-serif;
}

/*
#contact-content {
    background-color: var(--body-A);
}
*/

#project-content {
    background-color: var(--body-B);
}

#gallery-content {
    background-color: var(--body-A);
}

#random-content {
    background-color: var(--body-B);
}

.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:20px;
}

.gallery-img {
    display:flex;
}

#about-container {
}

.pic {
  position: relative;
  text-align: center;
  color: white;
  width:33%;
  margin:10px;
}

img {
    max-width: 100%;
    border-radius: 5%;
}